Repository lightspeedwp/ai-block-theme-template, changes with the labels that .github/labeler.yml gives for each.
All labels: lang:md, area:dependencies, area:ci, lang:javascript, lang:css, lang:php, area:block-editor, area:theme, area:integration

.github/labeler.yml:

# This file configures the 'actions/labeler' GitHub Action.
# It maps labels to file paths. When a pull request modifies a file
# matching a path, the corresponding label is automatically applied.
#
# For more information, see: https://github.com/actions/labeler

# Documentation
lang:md:
  - '**/*.md'
  - 'docs/**/*'
  - 'docs/**/*.md'

# Dependencies
area:dependencies:
  - 'composer.json'
  - 'composer.lock'
  - 'package.json'
  - 'package-lock.json'

# CI / Build configuration
area:ci:
  - 'webpack.config.js'
  - 'package.json'
  - '.github/workflows/*'
  - 'tests/**/*'
  - '**/*_test.php'
  - '**/*Test.php'
  - '.editorconfig'
  - '.eslintrc.js'
  - 'phpcs.xml'
  - changed-files:
      any-glob-to-any-file:
        - '.github/workflows/**'

# JavaScript sources
lang:javascript:
  - 'src/js/**/*.js'
  - 'assets/js/**/*.js'
  - 'src/blocks/**/*.js'
  - changed-files:
      any-glob-to-any-file:
        - '**/*.{js,jsx,ts,tsx}'

# CSS / SASS sources
lang:css:
  - 'src/css/**/*.scss'
  - 'src/css/**/*.css'
  - 'assets/css/**/*.css'
  - 'src/blocks/**/*.scss'
  - changed-files:
      any-glob-to-any-file:
        - '**/*.{css,scss}'

# PHP sources
lang:php:
  - '**/*.php'
  - changed-files:
      any-glob-to-any-file:
        - '**/*.php'

# Block editor / patterns
area:block-editor:
  - 'src/blocks/**/*'
  - changed-files:
      - any-glob-to-any-file: ['**/block.json', '**/src/blocks/**']

area:theme:
  - changed-files:
      - any-glob-to-any-file: ['**/theme.json', '**/templates/**', '**/patterns/**', '**/parts/**']

# Integration-specific changes
area:integration:
  - 'includes/integrations/**/*.php'
  - 'integrations/**/*.php'

# Head branch â†’ status hints (works on PRs)
"status:needs-review":
  - head-branch: ['^feat/.*', '^fix/.*', '^docs?/.*', '^(chore|build)/.*']

# (changed-files mappings folded into the original label mappings above)

Delete patterns/50-template-parts/50-author-card-compact.html
  patterns/50-template-parts/50-author-card-compact.html
Labels: area:theme

Delete .github/workflows/project-management.yml
  .github/workflows/project-management.yml
Labels: area:ci

Fix no-shadow lint error by removing redeclaration of 'fs' in tests/theme-json-validation.test.js
  tests/theme-json-validation.test.js
Labels: area:ci, lang:javascript

Update assign-issue-type.yml
  .github/workflows/assign-issue-type.yml
Labels: area:ci

Update .editorconfig
  .editorconfig
Labels: area:ci

Update changelog date for version 0.2.0
  CHANGELOG.md
Labels: lang:md

Fix theme Author capitalization to LightSpeedWP and remove stray trailing whitespace in style.css
  style.css
Labels: lang:css

Add CI Lint workflow (ESLint, Prettier, Stylelint, Spectral, ShellCheck, PHPCS)
  .github/workflows/ci-lint.yml
Labels: area:ci

Refactor GitHub Actions and CI workflows
  .github/labeler-theme.yml
  .github/workflows/assign-issue-type.yml
  .github/workflows/changelog-release-product.yml
  .github/workflows/ci-lint.yml
  .github/workflows/ci-markdown-lint.yml
  .github/workflows/ci-security.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
  .github/workflows/labels-issues-prs.yml
  .github/workflows/release-drafter-product.yml
  .github/workflows/release-management.yml
  .github/workflows/restrict-pr-label.yml
  .github/workflows/sync-issues-prs-to-project.yml
  .github/workflows/update-project-fields.yml
Labels: area:ci

Add Read the Docs configuration (.readthedocs.yaml) with Sphinx and Python 3.13
  .readthedocs.yaml
Labels: none

Update webpack.config.js
  webpack.config.js
Labels: area:ci, lang:javascript

Update functions.php
  functions.php
Labels: lang:php

Update .github/workflows/ci-build.yml
  .github/workflows/ci-build.yml
Labels: area:ci

Add color palettes and Figma typography presets, migrate block styles, and clean up theme.json
  styles/blocks/block-block-quote-emphasis.json
  styles/blocks/block-image-frame.json
  styles/colors/colors-blossom.json
  styles/colors/colors-citrus.json
  styles/colors/colors-emerald.json
  styles/colors/colors-forest.json
  styles/colors/colors-grayscale.json
  styles/colors/colors-oceanic.json
  styles/colors/colors-pastel.json
  styles/colors/colors-royal.json
  styles/colors/colors-sunset.json
  styles/colors/colors-vibrant.json
  styles/colors/colors-warm.json
  styles/colors/colours-pastel.json
  styles/colors/colours-warm.json
  styles/typography/fonts-figma-artistic-display.json
  styles/typography/fonts-figma-bold-serif.json
  styles/typography/fonts-figma-classic-mono.json
  styles/typography/fonts-figma-creative-mono.json
  styles/typography/fonts-figma-elegant-serif.json
  styles/typography/fonts-figma-futurist-sans.json
  styles/typography/fonts-figma-geometric-sans.json
  styles/typography/fonts-figma-humanist-sans.json
  styles/typography/fonts-figma-minimal-sans.json
  styles/typography/fonts-figma-modern-sans.json
  theme.json
Labels: area:theme

chore: add Jest 30.2.0 to package.json
  .github/workflows/ci-tests.yml
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/accessibility.ts.html
  coverage/lcov-report/index.html
  coverage/lcov-report/style-engine.ts.html
  coverage/lcov-report/theme.ts.html
  coverage/lcov.info
  package-lock.json
  package.json
Labels: area:dependencies, area:ci

Update phpstan.neon
  phpstan.neon
Labels: none

Update pre-commit hook to run lint instead of build
  .husky/pre-commit
Labels: none

Enhance theme.json with new design settings
  theme.json
Labels: area:theme

Delete theme.json.corrupted
  theme.json.corrupted
Labels: none

Add theme.json validation agent and scripts
  .github/agents/theme-json-validation.agent.js
  .github/chatmodes/theme-json-validation.chatmode.md
  .github/instructions/theme-json-validation.instructions.md
  .github/prompts/theme-json-validation.prompt.md
  package.json
  scripts/summarise-errors.js
Labels: lang:md, area:dependencies, area:ci, lang:javascript

Add repo-template.md placeholders for block-themes and single-block-plugin docs
  docs/block-themes/repo-template.md
  docs/single-block-plugin/repo-template.md
Labels: lang:md

Format scripts/summarise-errors.js: use tabs, standardize suggestion fallback, and adjust JSON path delimiters in report
  scripts/summarise-errors.js
Labels: lang:javascript

Add PR description template
  .github/PULL_REQUEST_TEMPLATES/PR-description.md
Labels: lang:md
